{% block body %}
<style>
    .marker-cluster-small div{
        font-size:1.5rem !important;
        background-color:#FFFFFF !important;
        color: black !important;
        font-family: fantasy !important;
        font-weight: bold !important;
    }
    .marker-cluster-small{
        background-color:#000000 !important;
        filter: drop-shadow(0px 0px 12px #f72585) !important;
    }
    .marker-cluster-medium div{
        font-size:1.5rem !important;
        background-color:#FFFFFF !important;
        color: black !important;
        font-family: fantasy !important;
        font-weight: bold !important;
    }
    .marker-cluster-medium{
        background-color:#000000 !important;
        filter: drop-shadow(0px 0px 12px #f72585) !important;
    }
    .leaflet-container{
    background: #262626 !important;
    }
</style>
{% endblock %}
{% extends "raw_map.html" %}

