<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_8eed661375ce425e8441a2d5592a0e2d {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_8eed661375ce425e8441a2d5592a0e2d" ></div>
        
</body>
<script>    
    
            var map_8eed661375ce425e8441a2d5592a0e2d = L.map(
                "map_8eed661375ce425e8441a2d5592a0e2d",
                {
                    center: [38.8950368, -77.0365427],
                    crs: L.CRS.EPSG3857,
                    zoom: 7,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_592a5290445c4a42b8c3ffa09bab844a = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/dark_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_8eed661375ce425e8441a2d5592a0e2d);
        
    
            var marker_cluster_0d1d579325a44f63a6f4fbefbf9c88f9 = L.markerClusterGroup(
                {}
            );
            map_8eed661375ce425e8441a2d5592a0e2d.addLayer(marker_cluster_0d1d579325a44f63a6f4fbefbf9c88f9);
        
    
            var circle_marker_1934086bdc7c48f898d2597eb0443805 = L.circleMarker(
                [38.8950368, -77.0365427],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#4361EE", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_0d1d579325a44f63a6f4fbefbf9c88f9);
        
    
        var popup_f33b53a321eb4296aa35bd72f2e530cc = L.popup({"maxWidth": "100%"});

        
            var html_2fa8a54ecc80440ba89a93cadfe05eb4 = $(`<div id="html_2fa8a54ecc80440ba89a93cadfe05eb4" style="width: 100.0%; height: 100.0%;">MsTurnageYoung</div>`)[0];
            popup_f33b53a321eb4296aa35bd72f2e530cc.setContent(html_2fa8a54ecc80440ba89a93cadfe05eb4);
        

        circle_marker_1934086bdc7c48f898d2597eb0443805.bindPopup(popup_f33b53a321eb4296aa35bd72f2e530cc)
        ;

        
    
    
            var circle_marker_4590e4e533ff495a87ca330d4b24b656 = L.circleMarker(
                [38.8950368, -77.0365427],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3F37C9", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_0d1d579325a44f63a6f4fbefbf9c88f9);
        
    
        var popup_ea0b1c47794343778743d915f3dbde6f = L.popup({"maxWidth": "100%"});

        
            var html_ba839a22251f430f984fa6e12043b807 = $(`<div id="html_ba839a22251f430f984fa6e12043b807" style="width: 100.0%; height: 100.0%;">justinsink</div>`)[0];
            popup_ea0b1c47794343778743d915f3dbde6f.setContent(html_ba839a22251f430f984fa6e12043b807);
        

        circle_marker_4590e4e533ff495a87ca330d4b24b656.bindPopup(popup_ea0b1c47794343778743d915f3dbde6f)
        ;

        
    
    
            var circle_marker_b77c3254ed5248d69596e5ae34ef5757 = L.circleMarker(
                [38.8950368, -77.0365427],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#480CA8", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_0d1d579325a44f63a6f4fbefbf9c88f9);
        
    
        var popup_3fa8e9bac8734ccd87bf0ebb144389f5 = L.popup({"maxWidth": "100%"});

        
            var html_3617ff41ff7847c2821853e8f510ef65 = $(`<div id="html_3617ff41ff7847c2821853e8f510ef65" style="width: 100.0%; height: 100.0%;">LizMarieAllen</div>`)[0];
            popup_3fa8e9bac8734ccd87bf0ebb144389f5.setContent(html_3617ff41ff7847c2821853e8f510ef65);
        

        circle_marker_b77c3254ed5248d69596e5ae34ef5757.bindPopup(popup_3fa8e9bac8734ccd87bf0ebb144389f5)
        ;

        
    
    
            var circle_marker_9472d5332550435e8b6c3a62dfc7bb33 = L.circleMarker(
                [38.8950368, -77.0365427],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#560BAD", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_0d1d579325a44f63a6f4fbefbf9c88f9);
        
    
        var popup_2e504d236e1d4a7aba43b784c8e5b775 = L.popup({"maxWidth": "100%"});

        
            var html_60fa9d59119344f4aaad251d8849d482 = $(`<div id="html_60fa9d59119344f4aaad251d8849d482" style="width: 100.0%; height: 100.0%;">cecmunoz</div>`)[0];
            popup_2e504d236e1d4a7aba43b784c8e5b775.setContent(html_60fa9d59119344f4aaad251d8849d482);
        

        circle_marker_9472d5332550435e8b6c3a62dfc7bb33.bindPopup(popup_2e504d236e1d4a7aba43b784c8e5b775)
        ;

        
    
    
            var circle_marker_cab21a8b8fe74529902a34fa0d784de9 = L.circleMarker(
                [38.8950368, -77.0365427],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#B5179E", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_0d1d579325a44f63a6f4fbefbf9c88f9);
        
    
        var popup_038840c0b3a04046a2fee036460bc958 = L.popup({"maxWidth": "100%"});

        
            var html_023770f5311d4795a77691f8ba1426f2 = $(`<div id="html_023770f5311d4795a77691f8ba1426f2" style="width: 100.0%; height: 100.0%;">EricSchultz</div>`)[0];
            popup_038840c0b3a04046a2fee036460bc958.setContent(html_023770f5311d4795a77691f8ba1426f2);
        

        circle_marker_cab21a8b8fe74529902a34fa0d784de9.bindPopup(popup_038840c0b3a04046a2fee036460bc958)
        ;

        
    
    
            var circle_marker_2a7bf2ca6e464d77bbe100d574c0ee0d = L.circleMarker(
                [38.8950368, -77.0365427],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3A0CA3", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_0d1d579325a44f63a6f4fbefbf9c88f9);
        
    
        var popup_8d8d2ec9ba954773aeae77d8513ebe6a = L.popup({"maxWidth": "100%"});

        
            var html_3427e7b987e148149f635767daf93707 = $(`<div id="html_3427e7b987e148149f635767daf93707" style="width: 100.0%; height: 100.0%;">brhodes</div>`)[0];
            popup_8d8d2ec9ba954773aeae77d8513ebe6a.setContent(html_3427e7b987e148149f635767daf93707);
        

        circle_marker_2a7bf2ca6e464d77bbe100d574c0ee0d.bindPopup(popup_8d8d2ec9ba954773aeae77d8513ebe6a)
        ;

        
    
    
            var circle_marker_014b886dfd6b4d669b3cec65055495c4 = L.circleMarker(
                [38.8950368, -77.0365427],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#7209B7", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_0d1d579325a44f63a6f4fbefbf9c88f9);
        
    
        var popup_128261b877ca40b2917d32809328f64c = L.popup({"maxWidth": "100%"});

        
            var html_d5b2f6a36f0a4a729a781577ea5b04a4 = $(`<div id="html_d5b2f6a36f0a4a729a781577ea5b04a4" style="width: 100.0%; height: 100.0%;">AmbassadorRice</div>`)[0];
            popup_128261b877ca40b2917d32809328f64c.setContent(html_d5b2f6a36f0a4a729a781577ea5b04a4);
        

        circle_marker_014b886dfd6b4d669b3cec65055495c4.bindPopup(popup_128261b877ca40b2917d32809328f64c)
        ;

        
    
    
            var circle_marker_36a65505b9084b65b3ff7aac6eaaea71 = L.circleMarker(
                [38.8950368, -77.0365427],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#4361EE", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_0d1d579325a44f63a6f4fbefbf9c88f9);
        
    
        var popup_416c6eb12e6c4d3cb0d14af898263c80 = L.popup({"maxWidth": "100%"});

        
            var html_29bbf666ba5d450da8eefe28fb266f5d = $(`<div id="html_29bbf666ba5d450da8eefe28fb266f5d" style="width: 100.0%; height: 100.0%;">DenisMcDonough</div>`)[0];
            popup_416c6eb12e6c4d3cb0d14af898263c80.setContent(html_29bbf666ba5d450da8eefe28fb266f5d);
        

        circle_marker_36a65505b9084b65b3ff7aac6eaaea71.bindPopup(popup_416c6eb12e6c4d3cb0d14af898263c80)
        ;

        
    
    
            var circle_marker_a5785227187e422487d50da4c62b11fc = L.circleMarker(
                [38.8950368, -77.0365427],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3F37C9", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_0d1d579325a44f63a6f4fbefbf9c88f9);
        
    
        var popup_a9858352f2f74152901b7d0e21ec87c8 = L.popup({"maxWidth": "100%"});

        
            var html_e008fdde71d24bbca3533f9a1b184dd4 = $(`<div id="html_e008fdde71d24bbca3533f9a1b184dd4" style="width: 100.0%; height: 100.0%;">AlexBWall</div>`)[0];
            popup_a9858352f2f74152901b7d0e21ec87c8.setContent(html_e008fdde71d24bbca3533f9a1b184dd4);
        

        circle_marker_a5785227187e422487d50da4c62b11fc.bindPopup(popup_a9858352f2f74152901b7d0e21ec87c8)
        ;

        
    
    
            var circle_marker_9bc5aa271bca467bbe3c4e6d518a1bdc = L.circleMarker(
                [38.8950368, -77.0365427],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#F72585", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_0d1d579325a44f63a6f4fbefbf9c88f9);
        
    
        var popup_863be37120364db4a6b74d17f2486d2f = L.popup({"maxWidth": "100%"});

        
            var html_8a221df5cfda4057b666f5d1bcfd186b = $(`<div id="html_8a221df5cfda4057b666f5d1bcfd186b" style="width: 100.0%; height: 100.0%;">FLOTUS44</div>`)[0];
            popup_863be37120364db4a6b74d17f2486d2f.setContent(html_8a221df5cfda4057b666f5d1bcfd186b);
        

        circle_marker_9bc5aa271bca467bbe3c4e6d518a1bdc.bindPopup(popup_863be37120364db4a6b74d17f2486d2f)
        ;

        
    
    
            var circle_marker_ad5d5d08e1794179bbdc869b6c6504b2 = L.circleMarker(
                [38.8950368, -77.0365427],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#4895EF", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_0d1d579325a44f63a6f4fbefbf9c88f9);
        
    
        var popup_57ee9f7b12dd4e95bb3565876af13bc6 = L.popup({"maxWidth": "100%"});

        
            var html_e75473d92f2d492cac0337391cb7050f = $(`<div id="html_e75473d92f2d492cac0337391cb7050f" style="width: 100.0%; height: 100.0%;">Habershaw</div>`)[0];
            popup_57ee9f7b12dd4e95bb3565876af13bc6.setContent(html_e75473d92f2d492cac0337391cb7050f);
        

        circle_marker_ad5d5d08e1794179bbdc869b6c6504b2.bindPopup(popup_57ee9f7b12dd4e95bb3565876af13bc6)
        ;

        
    
    
            var circle_marker_7c14df8f5b0841e4909180d9a8626afa = L.circleMarker(
                [38.8950368, -77.0365427],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#F72585", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_0d1d579325a44f63a6f4fbefbf9c88f9);
        
    
        var popup_36f7b5c2c2e54fa6a7fd57ddf7be6fb8 = L.popup({"maxWidth": "100%"});

        
            var html_0b4037435224462081a908a2a01b28cc = $(`<div id="html_0b4037435224462081a908a2a01b28cc" style="width: 100.0%; height: 100.0%;">KaraCarscaden</div>`)[0];
            popup_36f7b5c2c2e54fa6a7fd57ddf7be6fb8.setContent(html_0b4037435224462081a908a2a01b28cc);
        

        circle_marker_7c14df8f5b0841e4909180d9a8626afa.bindPopup(popup_36f7b5c2c2e54fa6a7fd57ddf7be6fb8)
        ;

        
    
    
            var circle_marker_33a93e77e0594783affddbbf269936f7 = L.circleMarker(
                [38.8950368, -77.0365427],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#4895EF", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_0d1d579325a44f63a6f4fbefbf9c88f9);
        
    
        var popup_c596e8cb7b5d45aebe3c2374d09ab261 = L.popup({"maxWidth": "100%"});

        
            var html_224b48cba5a44011b1991a35563cc51b = $(`<div id="html_224b48cba5a44011b1991a35563cc51b" style="width: 100.0%; height: 100.0%;">jrpsaki</div>`)[0];
            popup_c596e8cb7b5d45aebe3c2374d09ab261.setContent(html_224b48cba5a44011b1991a35563cc51b);
        

        circle_marker_33a93e77e0594783affddbbf269936f7.bindPopup(popup_c596e8cb7b5d45aebe3c2374d09ab261)
        ;

        
    
    
            var circle_marker_4d61b7ad38514557be7c50293d7a52b7 = L.circleMarker(
                [40.7127281, -74.0060152],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#4895EF", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_0d1d579325a44f63a6f4fbefbf9c88f9);
        
    
        var popup_061f53aa4804472c9ef7d8fb283a3e70 = L.popup({"maxWidth": "100%"});

        
            var html_813240b05e06418db74a47f22c3bc712 = $(`<div id="html_813240b05e06418db74a47f22c3bc712" style="width: 100.0%; height: 100.0%;">BillClinton</div>`)[0];
            popup_061f53aa4804472c9ef7d8fb283a3e70.setContent(html_813240b05e06418db74a47f22c3bc712);
        

        circle_marker_4d61b7ad38514557be7c50293d7a52b7.bindPopup(popup_061f53aa4804472c9ef7d8fb283a3e70)
        ;

        
    
    
            var circle_marker_bf67ce451ac846d2a2b9b02211969c21 = L.circleMarker(
                [40.7127281, -74.0060152],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#F72585", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_0d1d579325a44f63a6f4fbefbf9c88f9);
        
    
        var popup_accd007640894643bf8487fae477ac00 = L.popup({"maxWidth": "100%"});

        
            var html_a326c71590794b62bbc3364bf9924448 = $(`<div id="html_a326c71590794b62bbc3364bf9924448" style="width: 100.0%; height: 100.0%;">jenfriedman13</div>`)[0];
            popup_accd007640894643bf8487fae477ac00.setContent(html_a326c71590794b62bbc3364bf9924448);
        

        circle_marker_bf67ce451ac846d2a2b9b02211969c21.bindPopup(popup_accd007640894643bf8487fae477ac00)
        ;

        
    
    
            var circle_marker_b651f006b41f4a50b52371b5b27fa887 = L.circleMarker(
                [40.7127281, -74.0060152],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#4CC9F0", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_0d1d579325a44f63a6f4fbefbf9c88f9);
        
    
        var popup_7d1b5cc324c54d589f9e655256d79886 = L.popup({"maxWidth": "100%"});

        
            var html_2f876a6ceb134534800183776f70f10f = $(`<div id="html_2f876a6ceb134534800183776f70f10f" style="width: 100.0%; height: 100.0%;">ridiamond</div>`)[0];
            popup_7d1b5cc324c54d589f9e655256d79886.setContent(html_2f876a6ceb134534800183776f70f10f);
        

        circle_marker_b651f006b41f4a50b52371b5b27fa887.bindPopup(popup_7d1b5cc324c54d589f9e655256d79886)
        ;

        
    
    
            var circle_marker_51e79212fc3b41db85e7938b0655811b = L.circleMarker(
                [36.7014631, -118.755997],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#560BAD", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_0d1d579325a44f63a6f4fbefbf9c88f9);
        
    
        var popup_b3b540b555d94979a17f06826421ddad = L.popup({"maxWidth": "100%"});

        
            var html_61359961afbf44d59e1a65f73ee0d262 = $(`<div id="html_61359961afbf44d59e1a65f73ee0d262" style="width: 100.0%; height: 100.0%;">KamalaHarris</div>`)[0];
            popup_b3b540b555d94979a17f06826421ddad.setContent(html_61359961afbf44d59e1a65f73ee0d262);
        

        circle_marker_51e79212fc3b41db85e7938b0655811b.bindPopup(popup_b3b540b555d94979a17f06826421ddad)
        ;

        
    
    
            var circle_marker_fa8e9958da32439ba70ba34b629153b5 = L.circleMarker(
                [42.3788774, -72.032366],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#F72585", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_0d1d579325a44f63a6f4fbefbf9c88f9);
        
    
        var popup_6a0df0f5f04148209a16b8d2fb497909 = L.popup({"maxWidth": "100%"});

        
            var html_6c76568ae34d4c32b08a904191bd9082 = $(`<div id="html_6c76568ae34d4c32b08a904191bd9082" style="width: 100.0%; height: 100.0%;">DevalPatrick</div>`)[0];
            popup_6a0df0f5f04148209a16b8d2fb497909.setContent(html_6c76568ae34d4c32b08a904191bd9082);
        

        circle_marker_fa8e9958da32439ba70ba34b629153b5.bindPopup(popup_6a0df0f5f04148209a16b8d2fb497909)
        ;

        
    
    
            var circle_marker_70e105130bba47209651f744bc3c9ffb = L.circleMarker(
                [40.7341857, -74.00558],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#B5179E", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_0d1d579325a44f63a6f4fbefbf9c88f9);
        
    
        var popup_43b7800aff794ddfb8118221baca1461 = L.popup({"maxWidth": "100%"});

        
            var html_b4f241a9b63b4934a4d8b5f005a18464 = $(`<div id="html_b4f241a9b63b4934a4d8b5f005a18464" style="width: 100.0%; height: 100.0%;">codykeenan</div>`)[0];
            popup_43b7800aff794ddfb8118221baca1461.setContent(html_b4f241a9b63b4934a4d8b5f005a18464);
        

        circle_marker_70e105130bba47209651f744bc3c9ffb.bindPopup(popup_43b7800aff794ddfb8118221baca1461)
        ;

        
    
    
            var circle_marker_5f255dbd2bfe4b7f8acfcc4343def64b = L.circleMarker(
                [41.8755616, -87.6244212],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#4CC9F0", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_0d1d579325a44f63a6f4fbefbf9c88f9);
        
    
        var popup_62337f6ea3ea45aeaed0a93459f67c15 = L.popup({"maxWidth": "100%"});

        
            var html_6c57ee8761114fc59767d73347dcbc44 = $(`<div id="html_6c57ee8761114fc59767d73347dcbc44" style="width: 100.0%; height: 100.0%;">korischulman</div>`)[0];
            popup_62337f6ea3ea45aeaed0a93459f67c15.setContent(html_6c57ee8761114fc59767d73347dcbc44);
        

        circle_marker_5f255dbd2bfe4b7f8acfcc4343def64b.bindPopup(popup_62337f6ea3ea45aeaed0a93459f67c15)
        ;

        
    
    
            var circle_marker_e4c5a6085ccb46c3a1be72fe4a9f0acd = L.circleMarker(
                [41.8755616, -87.6244212],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3F37C9", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_0d1d579325a44f63a6f4fbefbf9c88f9);
        
    
        var popup_ff11e15c43444cb2b7525f82d73fff2c = L.popup({"maxWidth": "100%"});

        
            var html_6ac6ad9cbfd24b2aa5339e910739dfe5 = $(`<div id="html_6ac6ad9cbfd24b2aa5339e910739dfe5" style="width: 100.0%; height: 100.0%;">joshearnest</div>`)[0];
            popup_ff11e15c43444cb2b7525f82d73fff2c.setContent(html_6ac6ad9cbfd24b2aa5339e910739dfe5);
        

        circle_marker_e4c5a6085ccb46c3a1be72fe4a9f0acd.bindPopup(popup_ff11e15c43444cb2b7525f82d73fff2c)
        ;

        
    
    
            var circle_marker_ae409049ded54ea38d8b209d787abb1e = L.circleMarker(
                [41.8755616, -87.6244212],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#4CC9F0", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_0d1d579325a44f63a6f4fbefbf9c88f9);
        
    
        var popup_e627e6c6b82d4ea5b1f800bdeab2fc4e = L.popup({"maxWidth": "100%"});

        
            var html_b473015f0d7140b285f2a90e55802526 = $(`<div id="html_b473015f0d7140b285f2a90e55802526" style="width: 100.0%; height: 100.0%;">BetsyHoover</div>`)[0];
            popup_e627e6c6b82d4ea5b1f800bdeab2fc4e.setContent(html_b473015f0d7140b285f2a90e55802526);
        

        circle_marker_ae409049ded54ea38d8b209d787abb1e.bindPopup(popup_e627e6c6b82d4ea5b1f800bdeab2fc4e)
        ;

        
    
    
            var circle_marker_b35f4dc795f948a69e1bfebb2bc2376a = L.circleMarker(
                [41.8755616, -87.6244212],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#4CC9F0", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_0d1d579325a44f63a6f4fbefbf9c88f9);
        
    
        var popup_d6db0eb195324d6c9cf23007f88baccc = L.popup({"maxWidth": "100%"});

        
            var html_70c40f4e3f35446fb11c122f85cf3d61 = $(`<div id="html_70c40f4e3f35446fb11c122f85cf3d61" style="width: 100.0%; height: 100.0%;">Students4Obama</div>`)[0];
            popup_d6db0eb195324d6c9cf23007f88baccc.setContent(html_70c40f4e3f35446fb11c122f85cf3d61);
        

        circle_marker_b35f4dc795f948a69e1bfebb2bc2376a.bindPopup(popup_d6db0eb195324d6c9cf23007f88baccc)
        ;

        
    
    
            var circle_marker_0e8fb09db5e244b2867af37735acb49b = L.circleMarker(
                [38.9328317, -76.9842259],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#7209B7", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_0d1d579325a44f63a6f4fbefbf9c88f9);
        
    
        var popup_07f4cc52a5694365bca380a38f926e24 = L.popup({"maxWidth": "100%"});

        
            var html_78296829222c42d2abbc57a148f89150 = $(`<div id="html_78296829222c42d2abbc57a148f89150" style="width: 100.0%; height: 100.0%;">PAniskoff</div>`)[0];
            popup_07f4cc52a5694365bca380a38f926e24.setContent(html_78296829222c42d2abbc57a148f89150);
        

        circle_marker_0e8fb09db5e244b2867af37735acb49b.bindPopup(popup_07f4cc52a5694365bca380a38f926e24)
        ;

        
    
    
            var circle_marker_e670449b8bbb4d6f9ffb48ade01e9143 = L.circleMarker(
                [37.7790262, -122.4199061],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#4CC9F0", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_0d1d579325a44f63a6f4fbefbf9c88f9);
        
    
        var popup_d36537ca77dd4cf2ba5b0c71eda4f819 = L.popup({"maxWidth": "100%"});

        
            var html_64c434f5c09845448c167734fefadab4 = $(`<div id="html_64c434f5c09845448c167734fefadab4" style="width: 100.0%; height: 100.0%;">Finkenbinder</div>`)[0];
            popup_d36537ca77dd4cf2ba5b0c71eda4f819.setContent(html_64c434f5c09845448c167734fefadab4);
        

        circle_marker_e670449b8bbb4d6f9ffb48ade01e9143.bindPopup(popup_d36537ca77dd4cf2ba5b0c71eda4f819)
        ;

        
    
    
            var circle_marker_6f8292eadf23414d91a36bf52ef7f3f0 = L.circleMarker(
                [37.7790262, -122.4199061],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#7209B7", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_0d1d579325a44f63a6f4fbefbf9c88f9);
        
    
        var popup_230e96e20d6c4c12b21e3f600b55a5e3 = L.popup({"maxWidth": "100%"});

        
            var html_cdc9ad5ae75f4351a63dc5b63c75ba98 = $(`<div id="html_cdc9ad5ae75f4351a63dc5b63c75ba98" style="width: 100.0%; height: 100.0%;">AdamKFetcher</div>`)[0];
            popup_230e96e20d6c4c12b21e3f600b55a5e3.setContent(html_cdc9ad5ae75f4351a63dc5b63c75ba98);
        

        circle_marker_6f8292eadf23414d91a36bf52ef7f3f0.bindPopup(popup_230e96e20d6c4c12b21e3f600b55a5e3)
        ;

        
    
    
            var circle_marker_42a8314dc0de4a2e86c5a4439c786fb6 = L.circleMarker(
                [51.5065555, 43.7199882],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#F72585", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_0d1d579325a44f63a6f4fbefbf9c88f9);
        
    
        var popup_67bd8cf7e5e5492ca0ad0cab46581885 = L.popup({"maxWidth": "100%"});

        
            var html_72f55048b36d4090b22f2e1d2ff632da = $(`<div id="html_72f55048b36d4090b22f2e1d2ff632da" style="width: 100.0%; height: 100.0%;">woodhouseb</div>`)[0];
            popup_67bd8cf7e5e5492ca0ad0cab46581885.setContent(html_72f55048b36d4090b22f2e1d2ff632da);
        

        circle_marker_42a8314dc0de4a2e86c5a4439c786fb6.bindPopup(popup_67bd8cf7e5e5492ca0ad0cab46581885)
        ;

        
    
    
            var circle_marker_ff2b7121bbf047f0b5e75c1a50c54f5a = L.circleMarker(
                [28.5281772, -81.4203268],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3F37C9", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_0d1d579325a44f63a6f4fbefbf9c88f9);
        
    
        var popup_0fb32fcf520e4024a6cbeb9475335a54 = L.popup({"maxWidth": "100%"});

        
            var html_306dcedb00624857846da7285122914d = $(`<div id="html_306dcedb00624857846da7285122914d" style="width: 100.0%; height: 100.0%;">DWStweets</div>`)[0];
            popup_0fb32fcf520e4024a6cbeb9475335a54.setContent(html_306dcedb00624857846da7285122914d);
        

        circle_marker_ff2b7121bbf047f0b5e75c1a50c54f5a.bindPopup(popup_0fb32fcf520e4024a6cbeb9475335a54)
        ;

        
    
    
            var circle_marker_518fe240498b4543aec6a3f815bd7ac6 = L.circleMarker(
                [40.8466508, -73.8785937],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3A0CA3", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_0d1d579325a44f63a6f4fbefbf9c88f9);
        
    
        var popup_f34be9d13e3c40cd9a02bac113f285f4 = L.popup({"maxWidth": "100%"});

        
            var html_e245c97791154e069211bf6a5af7149c = $(`<div id="html_e245c97791154e069211bf6a5af7149c" style="width: 100.0%; height: 100.0%;">MrMikeBlake</div>`)[0];
            popup_f34be9d13e3c40cd9a02bac113f285f4.setContent(html_e245c97791154e069211bf6a5af7149c);
        

        circle_marker_518fe240498b4543aec6a3f815bd7ac6.bindPopup(popup_f34be9d13e3c40cd9a02bac113f285f4)
        ;

        
    
    
            var circle_marker_e8a4ab8ac11f4e76893eac8def59515f = L.circleMarker(
                [42.4605189, -71.3488963],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3F37C9", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_0d1d579325a44f63a6f4fbefbf9c88f9);
        
    
        var popup_1427f006a23a4257b7111df330901b65 = L.popup({"maxWidth": "100%"});

        
            var html_3c24cfe4fcd343d1a40b7b191bbabc83 = $(`<div id="html_3c24cfe4fcd343d1a40b7b191bbabc83" style="width: 100.0%; height: 100.0%;">rufusgifford</div>`)[0];
            popup_1427f006a23a4257b7111df330901b65.setContent(html_3c24cfe4fcd343d1a40b7b191bbabc83);
        

        circle_marker_e8a4ab8ac11f4e76893eac8def59515f.bindPopup(popup_1427f006a23a4257b7111df330901b65)
        ;

        
    
    
            var circle_marker_f707ca5f5e934b4f99c59633818fae27 = L.circleMarker(
                [40.7896239, -73.9598939],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3F37C9", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_0d1d579325a44f63a6f4fbefbf9c88f9);
        
    
        var popup_4bb0ae52b5774cb7b1430a4fb3348b3e = L.popup({"maxWidth": "100%"});

        
            var html_e4757988fa2e4c33a377d5e7bea68d68 = $(`<div id="html_e4757988fa2e4c33a377d5e7bea68d68" style="width: 100.0%; height: 100.0%;">Lis_Smith</div>`)[0];
            popup_4bb0ae52b5774cb7b1430a4fb3348b3e.setContent(html_e4757988fa2e4c33a377d5e7bea68d68);
        

        circle_marker_f707ca5f5e934b4f99c59633818fae27.bindPopup(popup_4bb0ae52b5774cb7b1430a4fb3348b3e)
        ;

        
    
    
            var circle_marker_f8888e64cca24958adf1505bee408fc9 = L.circleMarker(
                [40.3492744, -74.6592958],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#480CA8", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_0d1d579325a44f63a6f4fbefbf9c88f9);
        
    
        var popup_6ee63f5003db429b96aabb45566e0475 = L.popup({"maxWidth": "100%"});

        
            var html_a135036b6aea45cbb17ae451d31f8567 = $(`<div id="html_a135036b6aea45cbb17ae451d31f8567" style="width: 100.0%; height: 100.0%;">cbrentcolburn</div>`)[0];
            popup_6ee63f5003db429b96aabb45566e0475.setContent(html_a135036b6aea45cbb17ae451d31f8567);
        

        circle_marker_f8888e64cca24958adf1505bee408fc9.bindPopup(popup_6ee63f5003db429b96aabb45566e0475)
        ;

        
    
    
            var circle_marker_69d5cc6b9eae45a0adf6ecc38619c94f = L.circleMarker(
                [40.7498243, -73.7976337],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3F37C9", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_0d1d579325a44f63a6f4fbefbf9c88f9);
        
    
        var popup_921898eb69be4c428e243874f9cff197 = L.popup({"maxWidth": "100%"});

        
            var html_c43a504f786a4b6aa87dcfe983b164cf = $(`<div id="html_c43a504f786a4b6aa87dcfe983b164cf" style="width: 100.0%; height: 100.0%;">StephHerold</div>`)[0];
            popup_921898eb69be4c428e243874f9cff197.setContent(html_c43a504f786a4b6aa87dcfe983b164cf);
        

        circle_marker_69d5cc6b9eae45a0adf6ecc38619c94f.bindPopup(popup_921898eb69be4c428e243874f9cff197)
        ;

        
    
    
            var circle_marker_9d4af81a5bdc4f109fd3842560785cec = L.circleMarker(
                [47.2868352, -120.212613],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#4361EE", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_0d1d579325a44f63a6f4fbefbf9c88f9);
        
    
        var popup_4ab6e123513b4f3b8b2400d7a57d7c55 = L.popup({"maxWidth": "100%"});

        
            var html_1a600ac9ba1d42e1baf9af1bbe8cfe5e = $(`<div id="html_1a600ac9ba1d42e1baf9af1bbe8cfe5e" style="width: 100.0%; height: 100.0%;">trammell</div>`)[0];
            popup_4ab6e123513b4f3b8b2400d7a57d7c55.setContent(html_1a600ac9ba1d42e1baf9af1bbe8cfe5e);
        

        circle_marker_9d4af81a5bdc4f109fd3842560785cec.bindPopup(popup_4ab6e123513b4f3b8b2400d7a57d7c55)
        ;

        
    
    
            var circle_marker_5a14eba88e0f4ea78ae7cf1e6f8c87c9 = L.circleMarker(
                [33.7489924, -84.3902644],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3F37C9", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_0d1d579325a44f63a6f4fbefbf9c88f9);
        
    
        var popup_d6f93cf87afe4f4abbc1abdf44c82ee7 = L.popup({"maxWidth": "100%"});

        
            var html_bed16cc9ee054ebca642a91e26aa52fa = $(`<div id="html_bed16cc9ee054ebca642a91e26aa52fa" style="width: 100.0%; height: 100.0%;">repjohnlewis</div>`)[0];
            popup_d6f93cf87afe4f4abbc1abdf44c82ee7.setContent(html_bed16cc9ee054ebca642a91e26aa52fa);
        

        circle_marker_5a14eba88e0f4ea78ae7cf1e6f8c87c9.bindPopup(popup_d6f93cf87afe4f4abbc1abdf44c82ee7)
        ;

        
    
    
            var feature_group_8fd88ac6d1a740f4a4815742b12898bd = L.featureGroup(
                {}
            ).addTo(map_8eed661375ce425e8441a2d5592a0e2d);
        
    
            var marker_d61ac19ed0a840cfa525622d2301dffb = L.marker(
                [38.8950368, -77.0365427],
                {}
            ).addTo(feature_group_8fd88ac6d1a740f4a4815742b12898bd);
        
    
            var feature_group_b2c6ce9787c64610af574525fc260ec8 = L.featureGroup(
                {}
            ).addTo(map_8eed661375ce425e8441a2d5592a0e2d);
        
    
            var layer_control_10f0d6f7f4e04193b8d96b8a7b96b7c7 = {
                base_layers : {
                    "cartodbdark_matter" : tile_layer_592a5290445c4a42b8c3ffa09bab844a,
                },
                overlays :  {
                    "macro_element_0d1d579325a44f63a6f4fbefbf9c88f9" : marker_cluster_0d1d579325a44f63a6f4fbefbf9c88f9,
                    "Twitter Friends map" : feature_group_8fd88ac6d1a740f4a4815742b12898bd,
                    "Routes" : feature_group_b2c6ce9787c64610af574525fc260ec8,
                },
            };
            L.control.layers(
                layer_control_10f0d6f7f4e04193b8d96b8a7b96b7c7.base_layers,
                layer_control_10f0d6f7f4e04193b8d96b8a7b96b7c7.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_8eed661375ce425e8441a2d5592a0e2d);
        
</script>