<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_9d5d3910f1534ad0b14a3ee705828324 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_9d5d3910f1534ad0b14a3ee705828324" ></div>
        
</body>
<script>    
    
            var map_9d5d3910f1534ad0b14a3ee705828324 = L.map(
                "map_9d5d3910f1534ad0b14a3ee705828324",
                {
                    center: [37.4299388, -122.2538557],
                    crs: L.CRS.EPSG3857,
                    zoom: 7,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_af6ff09794b045719b74d8592fb7402c = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/dark_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_9d5d3910f1534ad0b14a3ee705828324);
        
    
            var marker_cluster_c8748764de6b4f718c61e60aeda07caa = L.markerClusterGroup(
                {}
            );
            map_9d5d3910f1534ad0b14a3ee705828324.addLayer(marker_cluster_c8748764de6b4f718c61e60aeda07caa);
        
    
            var circle_marker_f7c1d14e8cf24f779b23d54c6fed297e = L.circleMarker(
                [39.7837304, -100.4458825],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#4361EE", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_c8748764de6b4f718c61e60aeda07caa);
        
    
        var popup_76b3ce9884414a0083214c37787de807 = L.popup({"maxWidth": "100%"});

        
            var html_0251e6943e524d4c83fb06d50282eec5 = $(`<div id="html_0251e6943e524d4c83fb06d50282eec5" style="width: 100.0%; height: 100.0%;">WhiteHouse</div>`)[0];
            popup_76b3ce9884414a0083214c37787de807.setContent(html_0251e6943e524d4c83fb06d50282eec5);
        

        circle_marker_f7c1d14e8cf24f779b23d54c6fed297e.bindPopup(popup_76b3ce9884414a0083214c37787de807)
        ;

        
    
    
            var circle_marker_3b5a44d612b347b9b422ef3ed704e34c = L.circleMarker(
                [39.7837304, -100.4458825],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#7209B7", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_c8748764de6b4f718c61e60aeda07caa);
        
    
        var popup_0bd7b5cd0dc443a4a79b081d0558d12a = L.popup({"maxWidth": "100%"});

        
            var html_656ac61161bf41e0befe8e4e4cec9f19 = $(`<div id="html_656ac61161bf41e0befe8e4e4cec9f19" style="width: 100.0%; height: 100.0%;">ProjectLincoln</div>`)[0];
            popup_0bd7b5cd0dc443a4a79b081d0558d12a.setContent(html_656ac61161bf41e0befe8e4e4cec9f19);
        

        circle_marker_3b5a44d612b347b9b422ef3ed704e34c.bindPopup(popup_0bd7b5cd0dc443a4a79b081d0558d12a)
        ;

        
    
    
            var circle_marker_b1c89bdab532440cbac78d35a17e00b7 = L.circleMarker(
                [37.7790262, -122.4199061],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#4361EE", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_c8748764de6b4f718c61e60aeda07caa);
        
    
        var popup_04be509d97d24bd780bbebf34a7716e2 = L.popup({"maxWidth": "100%"});

        
            var html_2b5f29f53e0e4157b98bfd4132dc6059 = $(`<div id="html_2b5f29f53e0e4157b98bfd4132dc6059" style="width: 100.0%; height: 100.0%;">noUpside</div>`)[0];
            popup_04be509d97d24bd780bbebf34a7716e2.setContent(html_2b5f29f53e0e4157b98bfd4132dc6059);
        

        circle_marker_b1c89bdab532440cbac78d35a17e00b7.bindPopup(popup_04be509d97d24bd780bbebf34a7716e2)
        ;

        
    
    
            var circle_marker_efb0a876501e4b389383fbb08ed6622e = L.circleMarker(
                [37.7790262, -122.4199061],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#F72585", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_c8748764de6b4f718c61e60aeda07caa);
        
    
        var popup_8a136f1d106b4df4a5ac57cc2dcdc402 = L.popup({"maxWidth": "100%"});

        
            var html_cb3089b6e4ec4ffbb93c8b0733468416 = $(`<div id="html_cb3089b6e4ec4ffbb93c8b0733468416" style="width: 100.0%; height: 100.0%;">TaliaGold</div>`)[0];
            popup_8a136f1d106b4df4a5ac57cc2dcdc402.setContent(html_cb3089b6e4ec4ffbb93c8b0733468416);
        

        circle_marker_efb0a876501e4b389383fbb08ed6622e.bindPopup(popup_8a136f1d106b4df4a5ac57cc2dcdc402)
        ;

        
    
    
            var circle_marker_0e518f5d294841e5ad9535409142d2a3 = L.circleMarker(
                [37.7790262, -122.4199061],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3F37C9", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_c8748764de6b4f718c61e60aeda07caa);
        
    
        var popup_14c9f599aa7b46a5b8d4e07829937b2f = L.popup({"maxWidth": "100%"});

        
            var html_08c542f643a04408b4fb87f9fce9e4c3 = $(`<div id="html_08c542f643a04408b4fb87f9fce9e4c3" style="width: 100.0%; height: 100.0%;">philmatier</div>`)[0];
            popup_14c9f599aa7b46a5b8d4e07829937b2f.setContent(html_08c542f643a04408b4fb87f9fce9e4c3);
        

        circle_marker_0e518f5d294841e5ad9535409142d2a3.bindPopup(popup_14c9f599aa7b46a5b8d4e07829937b2f)
        ;

        
    
    
            var circle_marker_4189ac5920d14e64b43902ef0121c232 = L.circleMarker(
                [37.7790262, -122.4199061],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#7209B7", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_c8748764de6b4f718c61e60aeda07caa);
        
    
        var popup_c6cb2fb1e3ca46ba9e336275df8a243d = L.popup({"maxWidth": "100%"});

        
            var html_3aed6e8549794067aeb117633d11b3a9 = $(`<div id="html_3aed6e8549794067aeb117633d11b3a9" style="width: 100.0%; height: 100.0%;">Bob_Wachter</div>`)[0];
            popup_c6cb2fb1e3ca46ba9e336275df8a243d.setContent(html_3aed6e8549794067aeb117633d11b3a9);
        

        circle_marker_4189ac5920d14e64b43902ef0121c232.bindPopup(popup_c6cb2fb1e3ca46ba9e336275df8a243d)
        ;

        
    
    
            var circle_marker_9f1290004f554cdeb8009036a1f059e1 = L.circleMarker(
                [37.7790262, -122.4199061],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#7209B7", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_c8748764de6b4f718c61e60aeda07caa);
        
    
        var popup_e7eb332b37cd4bd784eb8eaa6f7e5de6 = L.popup({"maxWidth": "100%"});

        
            var html_114960c77fff4d049358c2e9876ecb9e = $(`<div id="html_114960c77fff4d049358c2e9876ecb9e" style="width: 100.0%; height: 100.0%;">fkerrest</div>`)[0];
            popup_e7eb332b37cd4bd784eb8eaa6f7e5de6.setContent(html_114960c77fff4d049358c2e9876ecb9e);
        

        circle_marker_9f1290004f554cdeb8009036a1f059e1.bindPopup(popup_e7eb332b37cd4bd784eb8eaa6f7e5de6)
        ;

        
    
    
            var circle_marker_fdbffec69aed412da881352a7d2d58d8 = L.circleMarker(
                [37.7790262, -122.4199061],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#4361EE", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_c8748764de6b4f718c61e60aeda07caa);
        
    
        var popup_cde24ea374074da19657d12deae66e9b = L.popup({"maxWidth": "100%"});

        
            var html_4d98afc285dd44b8a3cf4b89103f07e8 = $(`<div id="html_4d98afc285dd44b8a3cf4b89103f07e8" style="width: 100.0%; height: 100.0%;">pauleinbund</div>`)[0];
            popup_cde24ea374074da19657d12deae66e9b.setContent(html_4d98afc285dd44b8a3cf4b89103f07e8);
        

        circle_marker_fdbffec69aed412da881352a7d2d58d8.bindPopup(popup_cde24ea374074da19657d12deae66e9b)
        ;

        
    
    
            var circle_marker_5367413608774bde8168cd976088f4cb = L.circleMarker(
                [37.7790262, -122.4199061],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#7209B7", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_c8748764de6b4f718c61e60aeda07caa);
        
    
        var popup_73ba9ad643794ed398e855ab5c2bcf80 = L.popup({"maxWidth": "100%"});

        
            var html_623890ba55ce49f48f0d02276c7fdd95 = $(`<div id="html_623890ba55ce49f48f0d02276c7fdd95" style="width: 100.0%; height: 100.0%;">pinkpaintedlady</div>`)[0];
            popup_73ba9ad643794ed398e855ab5c2bcf80.setContent(html_623890ba55ce49f48f0d02276c7fdd95);
        

        circle_marker_5367413608774bde8168cd976088f4cb.bindPopup(popup_73ba9ad643794ed398e855ab5c2bcf80)
        ;

        
    
    
            var circle_marker_7117492d95c1460aa4ddc4e12d9d9f21 = L.circleMarker(
                [37.7790262, -122.4199061],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3A0CA3", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_c8748764de6b4f718c61e60aeda07caa);
        
    
        var popup_b83a99254c244e6e84de73020718ad4a = L.popup({"maxWidth": "100%"});

        
            var html_f6f623181a3040d08b9d1d3b2b83ffa4 = $(`<div id="html_f6f623181a3040d08b9d1d3b2b83ffa4" style="width: 100.0%; height: 100.0%;">nighthaque</div>`)[0];
            popup_b83a99254c244e6e84de73020718ad4a.setContent(html_f6f623181a3040d08b9d1d3b2b83ffa4);
        

        circle_marker_7117492d95c1460aa4ddc4e12d9d9f21.bindPopup(popup_b83a99254c244e6e84de73020718ad4a)
        ;

        
    
    
            var circle_marker_11776e5e6c7b4357bac46995474641b5 = L.circleMarker(
                [37.7790262, -122.4199061],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#B5179E", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_c8748764de6b4f718c61e60aeda07caa);
        
    
        var popup_7d76e593cba64dd885f233dea6550280 = L.popup({"maxWidth": "100%"});

        
            var html_4fc774af719d4a6aa7146649d90d9132 = $(`<div id="html_4fc774af719d4a6aa7146649d90d9132" style="width: 100.0%; height: 100.0%;">LaurenV</div>`)[0];
            popup_7d76e593cba64dd885f233dea6550280.setContent(html_4fc774af719d4a6aa7146649d90d9132);
        

        circle_marker_11776e5e6c7b4357bac46995474641b5.bindPopup(popup_7d76e593cba64dd885f233dea6550280)
        ;

        
    
    
            var circle_marker_bd9818acbb4445b6bcee33271fcb33d6 = L.circleMarker(
                [36.7014631, -118.755997],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#4895EF", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_c8748764de6b4f718c61e60aeda07caa);
        
    
        var popup_a09df838663f4661b7477e80fffe9a19 = L.popup({"maxWidth": "100%"});

        
            var html_bdf1c9fd96c44d2f856aa3260112059a = $(`<div id="html_bdf1c9fd96c44d2f856aa3260112059a" style="width: 100.0%; height: 100.0%;">KamalaHarris</div>`)[0];
            popup_a09df838663f4661b7477e80fffe9a19.setContent(html_bdf1c9fd96c44d2f856aa3260112059a);
        

        circle_marker_bd9818acbb4445b6bcee33271fcb33d6.bindPopup(popup_a09df838663f4661b7477e80fffe9a19)
        ;

        
    
    
            var circle_marker_14b118d35631486584fe584c180736cb = L.circleMarker(
                [40.4034024, -79.8683824],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#F72585", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_c8748764de6b4f718c61e60aeda07caa);
        
    
        var popup_9d6dec40a23e452eb9343e9fc333ba3e = L.popup({"maxWidth": "100%"});

        
            var html_c6710c02e7ec4dd9b14a066eef1334ed = $(`<div id="html_c6710c02e7ec4dd9b14a066eef1334ed" style="width: 100.0%; height: 100.0%;">JohnFetterman</div>`)[0];
            popup_9d6dec40a23e452eb9343e9fc333ba3e.setContent(html_c6710c02e7ec4dd9b14a066eef1334ed);
        

        circle_marker_14b118d35631486584fe584c180736cb.bindPopup(popup_9d6dec40a23e452eb9343e9fc333ba3e)
        ;

        
    
    
            var circle_marker_9dc4c49e9d8a4a66a6c8a6b7da8e78eb = L.circleMarker(
                [40.7127281, -74.0060152],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#560BAD", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_c8748764de6b4f718c61e60aeda07caa);
        
    
        var popup_b2033f03deb94dc2b5d64bab8202bfa8 = L.popup({"maxWidth": "100%"});

        
            var html_12775f14aa6a4717b371fa05aba7c381 = $(`<div id="html_12775f14aa6a4717b371fa05aba7c381" style="width: 100.0%; height: 100.0%;">sarahcpr</div>`)[0];
            popup_b2033f03deb94dc2b5d64bab8202bfa8.setContent(html_12775f14aa6a4717b371fa05aba7c381);
        

        circle_marker_9dc4c49e9d8a4a66a6c8a6b7da8e78eb.bindPopup(popup_b2033f03deb94dc2b5d64bab8202bfa8)
        ;

        
    
    
            var circle_marker_045cf66ce4bf409f9bab2cd9b8ef85e9 = L.circleMarker(
                [37.226611, -121.9746797],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#560BAD", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_c8748764de6b4f718c61e60aeda07caa);
        
    
        var popup_b4af78464e524cf4bdde6aedcfb9a3a4 = L.popup({"maxWidth": "100%"});

        
            var html_6cc7636488824beaa31da66be81955f1 = $(`<div id="html_6cc7636488824beaa31da66be81955f1" style="width: 100.0%; height: 100.0%;">danllewin</div>`)[0];
            popup_b4af78464e524cf4bdde6aedcfb9a3a4.setContent(html_6cc7636488824beaa31da66be81955f1);
        

        circle_marker_045cf66ce4bf409f9bab2cd9b8ef85e9.bindPopup(popup_b4af78464e524cf4bdde6aedcfb9a3a4)
        ;

        
    
    
            var circle_marker_96839a16ff6141328fe2a1df35931f4f = L.circleMarker(
                [37.7884969, -122.3558473],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#4361EE", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_c8748764de6b4f718c61e60aeda07caa);
        
    
        var popup_6cfa4c16c827413590c8241f5adfc083 = L.popup({"maxWidth": "100%"});

        
            var html_a249e784cb1a4657800d81b05a0bc974 = $(`<div id="html_a249e784cb1a4657800d81b05a0bc974" style="width: 100.0%; height: 100.0%;">nbcbayarea</div>`)[0];
            popup_6cfa4c16c827413590c8241f5adfc083.setContent(html_a249e784cb1a4657800d81b05a0bc974);
        

        circle_marker_96839a16ff6141328fe2a1df35931f4f.bindPopup(popup_6cfa4c16c827413590c8241f5adfc083)
        ;

        
    
    
            var circle_marker_89b687c9ec3e4853806a504b778f0161 = L.circleMarker(
                [38.8950368, -77.0365427],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#F72585", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_c8748764de6b4f718c61e60aeda07caa);
        
    
        var popup_691a2fc9849045e1ba40c3fa7f48487b = L.popup({"maxWidth": "100%"});

        
            var html_edadb8485e1944389534fec6ef90ea8d = $(`<div id="html_edadb8485e1944389534fec6ef90ea8d" style="width: 100.0%; height: 100.0%;">claudiamconwayy</div>`)[0];
            popup_691a2fc9849045e1ba40c3fa7f48487b.setContent(html_edadb8485e1944389534fec6ef90ea8d);
        

        circle_marker_89b687c9ec3e4853806a504b778f0161.bindPopup(popup_691a2fc9849045e1ba40c3fa7f48487b)
        ;

        
    
    
            var circle_marker_681e0131a1f2402c8d296285857237c1 = L.circleMarker(
                [35.1345127, 33.9225856],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3F37C9", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_c8748764de6b4f718c61e60aeda07caa);
        
    
        var popup_e417cbf3303140a6a1fb5be59656be90 = L.popup({"maxWidth": "100%"});

        
            var html_91f82d503f2145f0a5376b5d9c25a1d2 = $(`<div id="html_91f82d503f2145f0a5376b5d9c25a1d2" style="width: 100.0%; height: 100.0%;">CALFIRECZU</div>`)[0];
            popup_e417cbf3303140a6a1fb5be59656be90.setContent(html_91f82d503f2145f0a5376b5d9c25a1d2);
        

        circle_marker_681e0131a1f2402c8d296285857237c1.bindPopup(popup_e417cbf3303140a6a1fb5be59656be90)
        ;

        
    
    
            var circle_marker_8160d456ac2e4916be5c88ed2e1ae4d3 = L.circleMarker(
                [38.7296252, -120.798546],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#7209B7", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_c8748764de6b4f718c61e60aeda07caa);
        
    
        var popup_59d3c22733e2437ab82d6a8a8140d2bc = L.popup({"maxWidth": "100%"});

        
            var html_757b4b95d6ac46f6869087bab7214515 = $(`<div id="html_757b4b95d6ac46f6869087bab7214515" style="width: 100.0%; height: 100.0%;">EldoradoNF</div>`)[0];
            popup_59d3c22733e2437ab82d6a8a8140d2bc.setContent(html_757b4b95d6ac46f6869087bab7214515);
        

        circle_marker_8160d456ac2e4916be5c88ed2e1ae4d3.bindPopup(popup_59d3c22733e2437ab82d6a8a8140d2bc)
        ;

        
    
    
            var circle_marker_b8cbf3d6e1c44f92916b24c6b262a609 = L.circleMarker(
                [47.6038321, -122.3300624],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#560BAD", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_c8748764de6b4f718c61e60aeda07caa);
        
    
        var popup_5721141986504bc4bbfde15e79f060b8 = L.popup({"maxWidth": "100%"});

        
            var html_ab2a996e37cf4ab6bd305b8b801cabf1 = $(`<div id="html_ab2a996e37cf4ab6bd305b8b801cabf1" style="width: 100.0%; height: 100.0%;">cellartracker</div>`)[0];
            popup_5721141986504bc4bbfde15e79f060b8.setContent(html_ab2a996e37cf4ab6bd305b8b801cabf1);
        

        circle_marker_b8cbf3d6e1c44f92916b24c6b262a609.bindPopup(popup_5721141986504bc4bbfde15e79f060b8)
        ;

        
    
    
            var circle_marker_e53db6a2195b4c0f9c34026bbc7f1a39 = L.circleMarker(
                [39.7459468, -75.546589],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#480CA8", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_c8748764de6b4f718c61e60aeda07caa);
        
    
        var popup_c277e77ced5548d4af03d826236c1c3a = L.popup({"maxWidth": "100%"});

        
            var html_7f79c0f5f7fe49dd97be00b2638d7d44 = $(`<div id="html_7f79c0f5f7fe49dd97be00b2638d7d44" style="width: 100.0%; height: 100.0%;">JoeBiden</div>`)[0];
            popup_c277e77ced5548d4af03d826236c1c3a.setContent(html_7f79c0f5f7fe49dd97be00b2638d7d44);
        

        circle_marker_e53db6a2195b4c0f9c34026bbc7f1a39.bindPopup(popup_c277e77ced5548d4af03d826236c1c3a)
        ;

        
    
    
            var circle_marker_d5fc414138534858a66df2db59b6107f = L.circleMarker(
                [34.0536909, -118.242766],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#480CA8", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_c8748764de6b4f718c61e60aeda07caa);
        
    
        var popup_08222d87c4a54832a5a66ea7fc0e7ce3 = L.popup({"maxWidth": "100%"});

        
            var html_77af8610431d4525ac353e04ec4abd80 = $(`<div id="html_77af8610431d4525ac353e04ec4abd80" style="width: 100.0%; height: 100.0%;">mbeckett</div>`)[0];
            popup_08222d87c4a54832a5a66ea7fc0e7ce3.setContent(html_77af8610431d4525ac353e04ec4abd80);
        

        circle_marker_d5fc414138534858a66df2db59b6107f.bindPopup(popup_08222d87c4a54832a5a66ea7fc0e7ce3)
        ;

        
    
    
            var circle_marker_16b299c3b8804618b5810648de246bc8 = L.circleMarker(
                [42.3602534, -71.0582912],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#7209B7", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_c8748764de6b4f718c61e60aeda07caa);
        
    
        var popup_a1c71f3f372f418e9a425f99187c182f = L.popup({"maxWidth": "100%"});

        
            var html_3c316bd71e2c4ab09d66e1684207ea4e = $(`<div id="html_3c316bd71e2c4ab09d66e1684207ea4e" style="width: 100.0%; height: 100.0%;">gpingree</div>`)[0];
            popup_a1c71f3f372f418e9a425f99187c182f.setContent(html_3c316bd71e2c4ab09d66e1684207ea4e);
        

        circle_marker_16b299c3b8804618b5810648de246bc8.bindPopup(popup_a1c71f3f372f418e9a425f99187c182f)
        ;

        
    
    
            var circle_marker_6123feea5d8a48acb61564466f3393fb = L.circleMarker(
                [37.4429964, -122.1545229],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#7209B7", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_c8748764de6b4f718c61e60aeda07caa);
        
    
        var popup_8f41fa77f17f45dbabffe89b44cd2b04 = L.popup({"maxWidth": "100%"});

        
            var html_9a828258ded443d0a9796e9d94f6da59 = $(`<div id="html_9a828258ded443d0a9796e9d94f6da59" style="width: 100.0%; height: 100.0%;">shulygalili</div>`)[0];
            popup_8f41fa77f17f45dbabffe89b44cd2b04.setContent(html_9a828258ded443d0a9796e9d94f6da59);
        

        circle_marker_6123feea5d8a48acb61564466f3393fb.bindPopup(popup_8f41fa77f17f45dbabffe89b44cd2b04)
        ;

        
    
    
            var circle_marker_10c0c3a8760f4d65a410051c3238c219 = L.circleMarker(
                [37.4429964, -122.1545229],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#4CC9F0", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_c8748764de6b4f718c61e60aeda07caa);
        
    
        var popup_399b4a4750d64a859d0d9e4d68d2f5fe = L.popup({"maxWidth": "100%"});

        
            var html_daefa7b61b1f426e909eb089cf46ed79 = $(`<div id="html_daefa7b61b1f426e909eb089cf46ed79" style="width: 100.0%; height: 100.0%;">JoshBeckerSV</div>`)[0];
            popup_399b4a4750d64a859d0d9e4d68d2f5fe.setContent(html_daefa7b61b1f426e909eb089cf46ed79);
        

        circle_marker_10c0c3a8760f4d65a410051c3238c219.bindPopup(popup_399b4a4750d64a859d0d9e4d68d2f5fe)
        ;

        
    
    
            var circle_marker_2bdee2a270484b66b624f12a01fbfe24 = L.circleMarker(
                [37.4865304, -119.9617416],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#4CC9F0", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_c8748764de6b4f718c61e60aeda07caa);
        
    
        var popup_bebc3094cc5b457eb56d327efeeefa3b = L.popup({"maxWidth": "100%"});

        
            var html_64cf71495f0c4349b336923a24d7073c = $(`<div id="html_64cf71495f0c4349b336923a24d7073c" style="width: 100.0%; height: 100.0%;">themorris_sf</div>`)[0];
            popup_bebc3094cc5b457eb56d327efeeefa3b.setContent(html_64cf71495f0c4349b336923a24d7073c);
        

        circle_marker_2bdee2a270484b66b624f12a01fbfe24.bindPopup(popup_bebc3094cc5b457eb56d327efeeefa3b)
        ;

        
    
    
            var circle_marker_e27ee2f37f3e4f3792b99b2fc397fc4b = L.circleMarker(
                [38.4248945, -120.64352044780077],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#4361EE", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_c8748764de6b4f718c61e60aeda07caa);
        
    
        var popup_4784f6e9875a4196b35672f4802d3e47 = L.popup({"maxWidth": "100%"});

        
            var html_214e28488e8047ada4a847f5183c096a = $(`<div id="html_214e28488e8047ada4a847f5183c096a" style="width: 100.0%; height: 100.0%;">founderbrags</div>`)[0];
            popup_4784f6e9875a4196b35672f4802d3e47.setContent(html_214e28488e8047ada4a847f5183c096a);
        

        circle_marker_e27ee2f37f3e4f3792b99b2fc397fc4b.bindPopup(popup_4784f6e9875a4196b35672f4802d3e47)
        ;

        
    
    
            var circle_marker_7eaf884b39bd41a588c1a48e211fe8ee = L.circleMarker(
                [41.6833813, -86.2500066],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3F37C9", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_c8748764de6b4f718c61e60aeda07caa);
        
    
        var popup_701d1a717e4b4b57a5b99e9ba9cb2c9f = L.popup({"maxWidth": "100%"});

        
            var html_36162d91d4fe42a591ddf53f9fca09a7 = $(`<div id="html_36162d91d4fe42a591ddf53f9fca09a7" style="width: 100.0%; height: 100.0%;">PeteButtigieg</div>`)[0];
            popup_701d1a717e4b4b57a5b99e9ba9cb2c9f.setContent(html_36162d91d4fe42a591ddf53f9fca09a7);
        

        circle_marker_7eaf884b39bd41a588c1a48e211fe8ee.bindPopup(popup_701d1a717e4b4b57a5b99e9ba9cb2c9f)
        ;

        
    
    
            var circle_marker_ab2fdc200a0046c4bf8d0045f80b8ac5 = L.circleMarker(
                [37.453773, -122.2058272],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3A0CA3", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_c8748764de6b4f718c61e60aeda07caa);
        
    
        var popup_f26f9acac9484c069c4dc7b300001f3f = L.popup({"maxWidth": "100%"});

        
            var html_24e0c1cf5a1e46cf9a3a1fbe019aa3ad = $(`<div id="html_24e0c1cf5a1e46cf9a3a1fbe019aa3ad" style="width: 100.0%; height: 100.0%;">gralston</div>`)[0];
            popup_f26f9acac9484c069c4dc7b300001f3f.setContent(html_24e0c1cf5a1e46cf9a3a1fbe019aa3ad);
        

        circle_marker_ab2fdc200a0046c4bf8d0045f80b8ac5.bindPopup(popup_f26f9acac9484c069c4dc7b300001f3f)
        ;

        
    
    
            var circle_marker_24ebe2a4afc7426c9bd9d4bc9af0f134 = L.circleMarker(
                [39.142954510204085, -121.58624557142856],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#B5179E", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_c8748764de6b4f718c61e60aeda07caa);
        
    
        var popup_0d08aa4c12164731a27d29808dc64595 = L.popup({"maxWidth": "100%"});

        
            var html_3cadaa2a516c4439b69d291a51f53477 = $(`<div id="html_3cadaa2a516c4439b69d291a51f53477" style="width: 100.0%; height: 100.0%;">CaltransDist3</div>`)[0];
            popup_0d08aa4c12164731a27d29808dc64595.setContent(html_3cadaa2a516c4439b69d291a51f53477);
        

        circle_marker_24ebe2a4afc7426c9bd9d4bc9af0f134.bindPopup(popup_0d08aa4c12164731a27d29808dc64595)
        ;

        
    
    
            var circle_marker_30cf063af8514528a331773e34206726 = L.circleMarker(
                [37.4443293, -122.1598465],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#4CC9F0", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_c8748764de6b4f718c61e60aeda07caa);
        
    
        var popup_376f7a39538b494a9693df1b609c964b = L.popup({"maxWidth": "100%"});

        
            var html_5c2c26d8921c4800b362fbaa33aff2d3 = $(`<div id="html_5c2c26d8921c4800b362fbaa33aff2d3" style="width: 100.0%; height: 100.0%;">paloaltoweekly</div>`)[0];
            popup_376f7a39538b494a9693df1b609c964b.setContent(html_5c2c26d8921c4800b362fbaa33aff2d3);
        

        circle_marker_30cf063af8514528a331773e34206726.bindPopup(popup_376f7a39538b494a9693df1b609c964b)
        ;

        
    
    
            var circle_marker_da9414011d034cf09d6b9d2b5994ebe5 = L.circleMarker(
                [37.8044557, -122.2713563],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#B5179E", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_c8748764de6b4f718c61e60aeda07caa);
        
    
        var popup_4b05d7e1ef3b4880ab5aee240f2ce27e = L.popup({"maxWidth": "100%"});

        
            var html_ac8c18deb65943cd8506f473fb0ebf4e = $(`<div id="html_ac8c18deb65943cd8506f473fb0ebf4e" style="width: 100.0%; height: 100.0%;">justhumanity</div>`)[0];
            popup_4b05d7e1ef3b4880ab5aee240f2ce27e.setContent(html_ac8c18deb65943cd8506f473fb0ebf4e);
        

        circle_marker_da9414011d034cf09d6b9d2b5994ebe5.bindPopup(popup_4b05d7e1ef3b4880ab5aee240f2ce27e)
        ;

        
    
    
            var circle_marker_66f45d7a7f4f4349b275a8c9342fed2e = L.circleMarker(
                [-32.9343646, -60.675078],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#7209B7", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_c8748764de6b4f718c61e60aeda07caa);
        
    
        var popup_e0c77d384a6947118f8274b2f2815084 = L.popup({"maxWidth": "100%"});

        
            var html_f8c1ab3b47954819bb63fcef882bc505 = $(`<div id="html_f8c1ab3b47954819bb63fcef882bc505" style="width: 100.0%; height: 100.0%;">leehower</div>`)[0];
            popup_e0c77d384a6947118f8274b2f2815084.setContent(html_f8c1ab3b47954819bb63fcef882bc505);
        

        circle_marker_66f45d7a7f4f4349b275a8c9342fed2e.bindPopup(popup_e0c77d384a6947118f8274b2f2815084)
        ;

        
    
    
            var circle_marker_5cee9556958d48849c9e513ecb054d6f = L.circleMarker(
                [37.4519671, -122.1779927],
                {"bubblingMouseEvents": true, "color": "#FFFFFF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#7209B7", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_c8748764de6b4f718c61e60aeda07caa);
        
    
        var popup_cf733a4cef2047189611713bb7e53f5c = L.popup({"maxWidth": "100%"});

        
            var html_2fad1e3097154c388e87a8ffc8d1ba2e = $(`<div id="html_2fad1e3097154c388e87a8ffc8d1ba2e" style="width: 100.0%; height: 100.0%;">mickymalka</div>`)[0];
            popup_cf733a4cef2047189611713bb7e53f5c.setContent(html_2fad1e3097154c388e87a8ffc8d1ba2e);
        

        circle_marker_5cee9556958d48849c9e513ecb054d6f.bindPopup(popup_cf733a4cef2047189611713bb7e53f5c)
        ;

        
    
    
            var feature_group_1f020f7a5d3b4806ada26a5e06a99792 = L.featureGroup(
                {}
            ).addTo(map_9d5d3910f1534ad0b14a3ee705828324);
        
    
            var marker_0803dcdf5235411eaee09c66ec44f74f = L.marker(
                [37.4299388, -122.2538557],
                {}
            ).addTo(feature_group_1f020f7a5d3b4806ada26a5e06a99792);
        
    
            var feature_group_db06100b589d489c8389f324a4138bd7 = L.featureGroup(
                {}
            ).addTo(map_9d5d3910f1534ad0b14a3ee705828324);
        
    
            var layer_control_1a2b8e4c36a54713877dd171c14e7902 = {
                base_layers : {
                    "cartodbdark_matter" : tile_layer_af6ff09794b045719b74d8592fb7402c,
                },
                overlays :  {
                    "macro_element_c8748764de6b4f718c61e60aeda07caa" : marker_cluster_c8748764de6b4f718c61e60aeda07caa,
                    "Twitter Friends map" : feature_group_1f020f7a5d3b4806ada26a5e06a99792,
                    "Routes" : feature_group_db06100b589d489c8389f324a4138bd7,
                },
            };
            L.control.layers(
                layer_control_1a2b8e4c36a54713877dd171c14e7902.base_layers,
                layer_control_1a2b8e4c36a54713877dd171c14e7902.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_9d5d3910f1534ad0b14a3ee705828324);
        
</script>